/* NOTA MENTAL: "mientras consolido la información mejor tenerlo a la mano por si lo necesito"
Cuando quiero crear un vinculo entre el html y css utilizare selectores existen de tre tipos
h =  de tipo que es la misma etiqueta del html
.title = de clase y se utiliza con un punto
#tittle= de id que se nombra con un # */

body{
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: #FED9ED;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: #67729D;
}

.subtitulo{
    color: #BB9CC0 ;
    font-size: 18px;
}

.tarjetas{
   display: flex;
   gap: 10px;
}

.tajeta-de-mishimon{
    background-color: #E7BCDE;
    width: 180px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box; /*Esto hace que el pading que agrego no modifique el tamaño del content*/
    border-radius: 15px;
    display: flex;
    color: #67729D;
    justify-content: center;
    align-items: center;
}

.tarjetas img{
    width: 80px;
}

input{
    display: none;
}

#boton-mascota{
    padding: 10px;
    margin-top: 20px;
    background-color: #E7BCDE;
    border-radius: 20px;
    color: #67729D;
    border: none;
    width: 560px;
    font-family: 'Fira Sans Condensed', sans-serif;
    
}